<h1>Edit task</h1>
<%= form_with(model: @task) do |form| %>
  <div>Task name: <%= form.text_field :name %></div>
  <div>Task description: <%= form.text_field :description %></div>
  <%= form.submit %>
<% end %>