<h1> Category Tasks View </h1>
<div>
  Category Name: <%= @category.name %>
</div>

<div>
  Tasks: <br />
  <% @category.tasks.each do |task| %>
    <p><%= link_to "Edit", task_edit_url(task.category_id, task.id) %>

    Task Name: <%= task.name %> -- Task description: <%= task.description %></p>
    <br/>
  <% end %>
</div>

<h2> This should be the end </h2>